<h2>
    <hr style='display: inline-block;width: 33%; vertical-align: middle;' />
    <span style='margin: 30px;'>Welcome!</span>
    <hr style='display: inline-block;width: 33%; vertical-align: middle;' />
    </h2>
    
    <table class="jobsTable jobs">
        <tr class="card titlebar" >
            <th class="Introduction">
                Where am I and how did I get here?
            </th>
        </tr>
            <div class="card details">
                <p>
                    <b>Welcome!</b><br/>This website is a technical exercise I wanted to embark upon to prove to myself that I could create something halfway decent in a very short amount of time. 
                    Currently, the total time put into this site is approximately 12 hours. It is completely my intention to return to this site in the future to do cool things that continue to stretch my ability as a developer. For now, "it is what it is". 
                    <br/>
                    <br/>
                    If I have shared this site with you and you are here to learn more about my life and profession, please feel free to use the cards above to navigate this site. 
                    <br />
                    <br />
                    If not... I guess have fun reading my resume. 
                    <br />
                    <br />
                    Thanks for visiting!
                </p>
            </div>
    </table>
